<% provide(:title, 'Voice Data Entry') %>
<div align="center">
<div class="well well-sm">

  <div class="row">
      <div class="col-sm-8 editbold ct" style="position: relative;
      top: 0px;
      bottom: 0;
      left: 0;
      height: 800px;
      overflow-y: scroll;">
      <%= image_tag findlog(@mystart, @showid, 1) %>
      <%= image_tag findlog(@mystart, @showid, 2) %>
    </div>
    <div class="col-sm-4 editbold ct" style="position: relative;
      top: 0px;
      bottom: 0;
      left: 0;
      height: 800px;
      overflow-y: scroll;">

    <p><%= @showname %> - <%= @weekof %></p>

    <button class="btn btn-small btn-success"
      role="button" onclick="recognition.start();">Start</button>
    <button class="btn btn-small btn-danger"
      id="pause-record-btn" href="#"
      role="button" onclick="recognition.stop();">Stop</button>
    <button class="btn btn-small btn-danger"
      id="pause-record-btn" href="#"
      role="button" onclick="parseToForm('Monday 1 Tuesday 3 Wednesday 0 Wednesday 5');">Offline Test</button>
    <div id="recording-instructions">This App requires the Chrome Browser and microphone access.</div>

    <textarea id="raw-textarea" placeholder="Translated speach will show up in this text area."></textarea>

    <p>Say only the theater show day, and then headset quantity in order from Mon-Sun.</p>

    <%= form_tag("/ventrynew", method: "post") do %>
      <input value="<%= @mystart %>" type="hidden" name="mystart" id="mystart">
      <input value="<%= @showid %>" type="hidden" name="showid" id="showid">

      <!-- Pulldowns for language/icap/description/loops -->
      <div class="row">
        <div class="col-sm-6 editbold rt">
          Product Type
        </div>
        <div class="col-sm-6 editbold rt">
        <%= select(@object, :productCat, @productCats) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 editbold rt">
          Language
        </div>
        <div class="col-sm-6 editbold rt">
          <%= select(@object, :language, @languages) %>
        </div>
      </div>

      <div id="myResults">
        <!-- js added form rows replaces these options -->
        <!-- Checkbox for empty/odd/incorrect sheets -->
        <div class="row">
          <div class="col-sm-10 editbold rt">Data Entry - Do Nothing Special</div>
          <div class="col-sm-2 lt"><%= radio_button_tag(:task, "Data", checked: true) %></div>
          <div class="col-sm-10 editbold rt">Log is blank - Mark as Complete</div>
          <div class="col-sm-2 lt"><%= radio_button_tag(:task, "Blank") %></div>
          <div class="col-sm-10 editbold rt">Log is incorrect - Move to Import</div>
          <div class="col-sm-2 lt"><%= radio_button_tag(:task, "Move") %></div>
          <div class="col-sm-10 editbold rt">Log has multiple weeks - Mark as Extra</div>
          <div class="col-sm-2 lt"><%= radio_button_tag(:task, "Extra") %></div>
        </div>
      </div>

      <%= submit_tag 'Looks good? Save it!', class: "btn btn-sm btn-primary" %>
    <% end %>
</div>

</div>
</div>
