<% provide(:title, 'Voice Data Entry') %>
<div align="center">
<div class="well well-sm">

  <div class="row">
    <div class="col-sm-8 editbold ct" style="position: relative;
      top: 0px;
      bottom: 0;
      left: 0;
      height: 800px;
      overflow-y: scroll;"
      id="myScan">
      <%= image_tag findlog(@mystart, @showid, @myscanss) %>
      <%= image_tag findlog(@mystart, @showid, 3) %>
      <div class="previewbox">
        <%= (@mystart + 0.days).strftime('%a %m-%d-%y')%>
        <br><%= (@mystart + 1.days).strftime('%a %m-%d-%y')%>
        <br><%= (@mystart + 2.days).strftime('%a %m-%d-%y')%>
        <br><%= (@mystart + 3.days).strftime('%a %m-%d-%y')%>
        <br><%= (@mystart + 4.days).strftime('%a %m-%d-%y')%>
        <br><%= (@mystart + 5.days).strftime('%a %m-%d-%y')%>
        <br><%= (@mystart + 6.days).strftime('%a %m-%d-%y')%>
        <br><%= @remaining %> Logs remain.
      </div>
    </div>
    <div class="col-sm-4 editbold ct" style="position: relative;
      top: 0px;
      bottom: 0;
      left: 0;
      height: 800px;
      overflow-y: scroll;">
    <p><%= @showname %><br><%= @weekof %></p>

    <button class="btn btn-small btn-success"
      role="button" onclick="recognition.start();">Start</button>
    <button class="btn btn-small btn-danger"
      id="pause-record-btn" href="#"
      role="button" onclick="recognition.stop();">Stop</button>
    <div id="recording-instructions">This App requires the Chrome Browser<br>and microphone access.</div>

    <textarea id="raw-textarea" placeholder="Translated speach will show up in this text area."></textarea>

    <p>Say only the theater show day, and then headset quantity in order from Mon-Sun.</p>

    <hr>

    <%= form_tag("/ventrynew", method: "post") do %>
      <input value="<%= @myscan %>" type="hidden" name="myscan" id="myscan">
      <input value="<%= @mystart %>" type="hidden" name="mystart" id="mystart">
      <input value="<%= @showid %>" type="hidden" name="showid" id="showid">

      <!-- Pulldowns for language/icap/description/loops -->
      <% if @myscanss == 1 then %>
        <div class="row">
          <div class="col-sm-10 editbold rt">Infrared Headsets</div>
          <div class="col-sm-2 lt"><%= radio_button_tag(:productCat, "10", checked: true) %></div>
          <div class="col-sm-10 editbold rt">T-Coil Loops</div>
          <div class="col-sm-2 lt"><%= radio_button_tag(:productCat, "20") %></div>
        </div>
        <div class="row">
          <div class="col-sm-10 editbold rt">Save and Continue</div>
          <div class="col-sm-2 lt"><%= check_box_tag :nextScan, 'true', true %></div>
        </div>
      <% else %>
        <input value="50" type="hidden" name="productCat" id="productCat">
        <div class="row">
          <div class="col-sm-6 editbold rt">
            Language
          </div>
          <div class="col-sm-6 editbold rt">
            <%= select(@object, :language, @languages) %>
          </div>
          <div class="row">
            <div class="col-sm-10 editbold rt">Save and Continue</div>
            <div class="col-sm-2 lt"><%= check_box_tag :nextScan, 'true', false %></div>
          </div>
        </div>
      <% end %>

      <div id="myResults">
        <!-- js added form rows replaces these options -->
        <!-- Checkbox for empty/odd/incorrect sheets -->
        <div class="row">
          <button class="btn btn-sm btn-primary"
          id="pause-record-btn" href="#"
          role="button" onclick="parseToForm('Tuesday 0 Wednesday 0 Wednesday 0 Thursday 0 Friday 0 Saturday 0 Saturday 0 Sunday 0');">Offline - Manual Edit</button>
          <%= link_to 'Full Editor', new_distributed_path(params.merge(:mystart => @mystart,
            :performance_id => @showid)), :class => 'btn btn-sm btn-warning', :target => '_blank'%>
        </div>
        <div class="row">
          <% if @myscanss != 1 then %>
            <div class="col-sm-10 editbold rt">Mark as Complete (blank logs)</div>
            <div class="col-sm-2 lt"><%= radio_button_tag(:task, "Blank") %></div>
          <% end %>
          <div class="col-sm-10 editbold rt">Move to re-Import</div>
          <div class="col-sm-2 lt"><%= radio_button_tag(:task, "Move") %></div>
        </div>
      </div>

      <%= submit_tag 'Do the Things', class: "btn btn-sm btn-primary" %>
    <% end %>
</div>

</div>
</div>
