<% provide(:title, 'Distributed Data Entry') %>

<h1>Edit for <%= @weekof %></h1>
<div class="col-md-12 editbold ct">Select a Show to add distribution:</div>

<div class="distpickcontainer">
  <% @showstoedit.each do |key, show| %>
  <div class="distpickbox">
    <% if !findlog(@mystart, key, 1).nil? then %>
      <%= image_tag "scan.png" %>
    <% else %>
      <%= image_tag "noscan.png" %>
    <% end %>
    <%= link_to show[:name], new_distributed_path(show[:extraparams]),
      class: show[:class], style: 'width: 10em;' %>
  </div>
  <% end %>
</div>

<div class="distinfocontainer">
  <div class="distpickbox"><%= link_to '2 mo', distributeds_path(myweekslist: 8),
    class: "btn btn-sm btn-primary", :style => 'width: 5em;' %></div>
  <div class="distpickbox"><%= link_to '6 mo', distributeds_path(myweekslist: 24),
    class: "btn btn-sm btn-primary", :style => 'width: 5em;' %></div>
  <div class="distpickbox"><%= link_to '1 yr', distributeds_path(myweekslist: 52),
    class: "btn btn-sm btn-primary", :style => 'width: 5em;' %></div>
  <div class="distpickbox"><%= link_to '3 yrs', distributeds_path(myweekslist: 156),
    class: "btn btn-sm btn-primary", :style => 'width: 5em;' %></div>
  <div class="distpickbox"><%= link_to '5 yrs', distributeds_path(myweekslist: 260),
    class: "btn btn-sm btn-primary", :style => 'width: 5em;' %></div>
  <div class="distpickbox">&nbsp;</div>
  <div class="distpickbox"><%= link_to "Empty", distributeds_path, class: "btn btn-sm btn-danger", :style => 'width: 8em;' %></div>
  <div class="distpickbox"><%= link_to "Partial", distributeds_path, class: "btn btn-sm btn-warning", :style => 'width: 8em;' %></div>
  <div class="distpickbox"><%= link_to "Complete", distributeds_path, class: "btn btn-sm btn-primary", :style => 'width: 8em;' %></div>
</div>

<div class="distpickcontainer">
  <% @weektoedit.each do |weekof| %>
  <div class="distpickbox">
    <%= link_to weekof[:showweekof],
      distributeds_path(mystart: weekof[:startdate]),
      class: weekof[:buttonclass], :style => 'width: 14em;' %>
  </div>
  <% end %>
</div>
