<% provide(:title, 'Distributed Data Entry') %>

<h1>Edit for <%= @weekof %></h1>
<div class="col-md-12 editbold ct">Select a Show to add distribution:</div>

<div class="distpickcontainer">
  <% @showstoedit.each_with_index do |p,i| %>
  <div class="distpickbox">
    <% if !findlog(@mystart, p[1], 1).nil? then %>
      <%= image_tag "scan.png" %>
    <% else %>
      <%= image_tag "noscan.png" %>
    <% end %>
    <%= link_to p[0], new_distributed_path(params.merge(:mystart => params[:mystart],
      :performance_id => p[1])),
      :class => p[2] %>
  </div>
  <% end %>
</div>

<div class="distpickcontainer">
  <div class="distpickbox">Select Week</div>
  <div class="distpickbox"><%= link_to "Blue is Complete", distributeds_path, class: "btn btn-sm btn-primary" %></div>
  <div class="distpickbox"><%= link_to "Yellow is Partial", distributeds_path, class: "btn btn-sm btn-warning" %></div>
  <div class="distpickbox"><%= link_to "Red is Empty", distributeds_path, class: "btn btn-sm btn-danger" %></div>
</div>

<div class="distpickcontainer">
  <div class="distpickbox"><%= link_to '2 months', distributeds_path(params.merge(:myweekslist => 8)),
    class: "btn btn-sm btn-primary" %></div>
  <div class="distpickbox"><%= link_to '6 months', distributeds_path(params.merge(:myweekslist => 24)),
    class: "btn btn-sm btn-primary" %></div>
  <div class="distpickbox"><%= link_to '1 year', distributeds_path(params.merge(:myweekslist => 52)),
    class: "btn btn-sm btn-primary" %></div>
  <div class="distpickbox"><%= link_to '3 years', distributeds_path(params.merge(:myweekslist => 156)),
    class: "btn btn-sm btn-primary" %></div>
  <div class="distpickbox"><%= link_to '5 years', distributeds_path(params.merge(:myweekslist => 260)),
    class: "btn btn-sm btn-primary" %></div>
</div>

<div class="distpickcontainer">
  <% @weektoedit.each do |weekof| %>
  <div class="distpickbox">
    <%= link_to weekof["showweekof"],
      distributeds_path(params.merge(:mystart => weekof["startdate"])),
      class: weekof["buttonclass"] %>
  </div>
  <% end %>
</div>
