<% provide(:title, 'Distributed Data Entry') %>

<div class="distcontainer">

  <div class="distpaperwork">
    <%= image_tag findlog(@mystart, @performance.id, 1) %>
  </div>

  <div class="distheader">
    <%= @performance.name %><br>
    <%= @weekof %>
  </div>
  <div class="distinteractive">
    <%= link_to '<', distributeds_path(params.merge(:mystart => @mystart)),
      class: "btn btn-sm btn-danger" %>
    <%= form_tag(:action => 'create', :method => 'post', :id => 1, :mystart => params[:mystart]) %>
    <%= submit_tag 'Save', class: "btn btn-sm btn-primary" %>
  </div>

  <!--shift00-00 [shift0-9]-[00-date/lang] -->
  <!--[0=label]-[0=date label] -->
  <div class="distinteractive shift0-00">&nbsp;</div>
  <div class="distbox shift0-10">&nbsp;</div>
  <div class="distbox shift0-10">&nbsp;</div>
  <div class="distbox shift0-00">Headsets</div>
  <div class="distbox shift0-00">Loops</div>

  <%= fields_for @performance do |f| %>
    <div class="distbox shift1-00">Mon 8/14</div>
    <div class="distbox shift1-10">M</div>
    <div class="distbox shift1-01">
      <%= f.number_field :quantity, value:3, :tabIndex => 2000 %>
    </div>
    <div class="distbox shift1-02">
      <%= f.number_field :quantity, value:1, :tabIndex => 2000 %>
    </div>

    <div class="distbox shift1-00">Mon 8/14</div>
    <div class="distbox shift1-10">E</div>
    <div class="distbox shift1-01">
      <%= f.number_field :quantity, value:3, :tabIndex => 2000 %>
    </div>
    <div class="distbox shift1-02">
      <%= f.number_field :quantity, value:1, :tabIndex => 2000 %>
    </div>
  <% end %>

  <div class="distbox shift3-00">Tue 8/15</div>
  <div class="distbox shift3-10">M</div>
  <div class="distbox shift3-01">&nbsp;</div>
  <div class="distbox shift3-02">&nbsp;</div>

  <div class="distbox shift4-00">Tue 8/15</div>
  <div class="distbox shift4-10">M</div>
  <div class="distbox shift4-01">&nbsp;</div>
  <div class="distbox shift4-02">&nbsp;</div>

  <div class="distbox shift5-00">Wed 8/16</div>
  <div class="distbox shift5-10">M</div>
  <div class="distbox shift5-01">&nbsp;</div>
  <div class="distbox shift5-02">&nbsp;</div>

  <div class="distbox shift6-00">Wed 8/16</div>
  <div class="distbox shift6-10">E</div>
  <div class="distbox shift6-01">&nbsp;</div>
  <div class="distbox shift6-02">&nbsp;</div>

  <div class="distbox shift7-00">Thu 8/17</div>
  <div class="distbox shift7-10">M</div>
  <div class="distbox shift7-01">&nbsp;</div>
  <div class="distbox shift7-02">&nbsp;</div>

  <div class="distbox shift8-00">Thu 8/17</div>
  <div class="distbox shift8-10">M</div>
  <div class="distbox shift8-01">&nbsp;</div>
  <div class="distbox shift8-02">&nbsp;</div>

  <div class="distbox shift9-00">Fri 8/14</div>
  <div class="distbox shift9-10">M</div>
  <div class="distbox shift9-01">&nbsp;</div>
  <div class="distbox shift9-02">&nbsp;</div>

  <div class="distbox shift10-00">Fri 8/14</div>
  <div class="distbox shift10-10">E</div>
  <div class="distbox shift10-01">&nbsp;</div>
  <div class="distbox shift10-02">&nbsp;</div>

  <div class="distbox shift3-00">Tue 8/15</div>
  <div class="distbox shift3-10">M</div>
  <div class="distbox shift3-01">&nbsp;</div>
  <div class="distbox shift3-02">&nbsp;</div>

  <div class="distbox shift4-00">Tue 8/15</div>
  <div class="distbox shift4-10">M</div>
  <div class="distbox shift4-01">&nbsp;</div>
  <div class="distbox shift4-02">&nbsp;</div>

  <div class="distbox shift5-00">Wed 8/16</div>
  <div class="distbox shift5-10">M</div>
  <div class="distbox shift5-01">&nbsp;</div>
  <div class="distbox shift5-02">&nbsp;</div>

  <div class="distbox shift6-00">Wed 8/16</div>
  <div class="distbox shift6-10">E</div>
  <div class="distbox shift6-01">&nbsp;</div>
  <div class="distbox shift6-02">&nbsp;</div>


</div>

<hr>

<div class="ssdistcontainer">
  <div class="ssdistpaperwork">
    <%= image_tag findlog(@mystart, @performance.id, 2) %>
  </div>

  <div class="ssdistheader">Show Name</div>
  <div class="distinteractive">save cancel</div>
  <!--shift00-00 [shift0-9]-[00-date/lang] -->
  <!--[0=label]-[0=date label] -->
  <div class="distbox shift0-00">&nbsp;</div>
  <div class="distbox shift0-00">Frn</div>
  <div class="distbox shift0-00">Ger</div>
  <div class="distbox shift0-00">Jap</div>
  <div class="distbox shift0-00">Man</div>
  <div class="distbox shift0-00">Kor</div>
  <div class="distbox shift0-00">Por</div>
  <div class="distbox shift0-00">Spn</div>
  <div class="distbox shift0-00">iCap</div>
  <div class="distbox shift0-00">desc</div>

  <div class="distbox shift1-00">Tue 8/14 E</div>
  <div class="distbox shift1-01">&nbsp;</div>
  <div class="distbox shift1-02">&nbsp;</div>
  <div class="distbox shift1-03">&nbsp;</div>
  <div class="distbox shift1-04">&nbsp;</div>
  <div class="distbox shift1-05">&nbsp;</div>
  <div class="distbox shift1-06">&nbsp;</div>
  <div class="distbox shift1-07">&nbsp;</div>
  <div class="distbox shift1-08">&nbsp;</div>
  <div class="distbox shift1-09">&nbsp;</div>

  <div class="distbox shift2-00">Wed 8/15 M</div>
  <div class="distbox shift2-01">&nbsp;</div>
  <div class="distbox shift2-02">&nbsp;</div>
  <div class="distbox shift2-03">&nbsp;</div>
  <div class="distbox shift2-04">&nbsp;</div>
  <div class="distbox shift2-05">&nbsp;</div>
  <div class="distbox shift2-06">&nbsp;</div>
  <div class="distbox shift2-07">&nbsp;</div>
  <div class="distbox shift2-08">&nbsp;</div>
  <div class="distbox shift2-09">&nbsp;</div>

  <div class="distbox shift3-00">Wed 8/15 E</div>
  <div class="distbox shift3-01">&nbsp;</div>
  <div class="distbox shift3-02">&nbsp;</div>
  <div class="distbox shift3-03">&nbsp;</div>
  <div class="distbox shift3-04">&nbsp;</div>
  <div class="distbox shift3-05">&nbsp;</div>
  <div class="distbox shift3-06">&nbsp;</div>
  <div class="distbox shift3-07">&nbsp;</div>
  <div class="distbox shift3-08">&nbsp;</div>
  <div class="distbox shift3-09">&nbsp;</div>

  <div class="distbox shift4-00">Thur 8/16 E</div>
  <div class="distbox shift4-01">&nbsp;</div>
  <div class="distbox shift4-02">&nbsp;</div>
  <div class="distbox shift4-03">&nbsp;</div>
  <div class="distbox shift4-04">&nbsp;</div>
  <div class="distbox shift4-05">&nbsp;</div>
  <div class="distbox shift4-06">&nbsp;</div>
  <div class="distbox shift4-07">&nbsp;</div>
  <div class="distbox shift4-08">&nbsp;</div>
  <div class="distbox shift4-09">&nbsp;</div>

  <div class="distbox shift5-00">Fri 8/17 E</div>
  <div class="distbox shift5-01">&nbsp;</div>
  <div class="distbox shift5-02">&nbsp;</div>
  <div class="distbox shift5-03">&nbsp;</div>
  <div class="distbox shift5-04">&nbsp;</div>
  <div class="distbox shift5-05">&nbsp;</div>
  <div class="distbox shift5-06">&nbsp;</div>
  <div class="distbox shift5-07">&nbsp;</div>
  <div class="distbox shift5-08">&nbsp;</div>
  <div class="distbox shift5-09">&nbsp;</div>

  <div class="distbox shift6-00">Sat 8/18 M</div>
  <div class="distbox shift6-01">&nbsp;</div>
  <div class="distbox shift6-02">&nbsp;</div>
  <div class="distbox shift6-03">&nbsp;</div>
  <div class="distbox shift6-04">&nbsp;</div>
  <div class="distbox shift6-05">&nbsp;</div>
  <div class="distbox shift6-06">&nbsp;</div>
  <div class="distbox shift6-07">&nbsp;</div>
  <div class="distbox shift6-08">&nbsp;</div>
  <div class="distbox shift6-09">&nbsp;</div>

  <div class="distbox shift7-00">Sat 8/18 E</div>
  <div class="distbox shift7-01">&nbsp;</div>
  <div class="distbox shift7-02">&nbsp;</div>
  <div class="distbox shift7-03">&nbsp;</div>
  <div class="distbox shift7-04">&nbsp;</div>
  <div class="distbox shift7-05">&nbsp;</div>
  <div class="distbox shift7-06">&nbsp;</div>
  <div class="distbox shift7-07">&nbsp;</div>
  <div class="distbox shift7-08">&nbsp;</div>
  <div class="distbox shift7-09">&nbsp;</div>

  <div class="distbox shift8-00">Sun 8/19 M</div>
  <div class="distbox shift8-01">&nbsp;</div>
  <div class="distbox shift8-02">&nbsp;</div>
  <div class="distbox shift8-03">&nbsp;</div>
  <div class="distbox shift8-04">&nbsp;</div>
  <div class="distbox shift8-05">&nbsp;</div>
  <div class="distbox shift8-06">&nbsp;</div>
  <div class="distbox shift8-07">&nbsp;</div>
  <div class="distbox shift8-08">&nbsp;</div>
  <div class="distbox shift8-09">&nbsp;</div>

  <div class="distbox shift9-00">Sun 8/19 E</div>
  <div class="distbox shift9-01">&nbsp;</div>
  <div class="distbox shift9-02">&nbsp;</div>
  <div class="distbox shift9-03">&nbsp;</div>
  <div class="distbox shift9-04">&nbsp;</div>
  <div class="distbox shift9-05">&nbsp;</div>
  <div class="distbox shift9-06">&nbsp;</div>
  <div class="distbox shift9-07">&nbsp;</div>
  <div class="distbox shift9-08">&nbsp;</div>
  <div class="distbox shift9-09">&nbsp;</div>
</div>
