<% provide(:title, 'Distributed Data Entry') %>

<div class="distcontainer">

  <div class="distpaperwork">
    <%= image_tag findlog(@mystart, @performance.id, 1) %>
  </div>
  <div class="distheader">
    <%= @performance.name %><br>
    <%= @weekof %>
  </div>
  <div class="distinteractive">
    <%= link_to '<', distributeds_path(params.merge(:mystart => @mystart)),
      class: "btn btn-sm btn-danger" %>
    <%= form_tag(:action => 'create', :method => 'post', :id => 1, :mystart => params[:mystart]) %>
    <%= submit_tag 'Save', class: "btn btn-sm btn-primary" %>
  </div>
  <div class="distbox shiftlabel prod1">Headsets</div>
  <div class="distbox shiftlabel prod2">Loops</div>

  <% (0..13).each do |shift| %>
    <div class="distbox shift<%= shift %> prodlabel">
      <%= @weekofdistributed["label_#{shift}"] %>
    </div>
    <% @weekofdistributed["data_#{shift}"].each_with_index do |dist, x| %>
      <%= fields_for "dist_#{((shift+1)*10) + (x+1)}" do |f| %>
      <div class="distbox shift<%= shift %> <%= (dist.product_id == 6) ? "prod1" : "prod2" %>" >
        <%= f.hidden_field :id, value:dist.id %>
        <%= f.hidden_field :curtain, value:dist.curtain %>
        <%= f.hidden_field :eve, value:dist.eve %>
        <%= f.hidden_field :performance_id, value:dist.performance_id %>
        <%= f.hidden_field :product_id, value:dist.product_id %>
        <%= f.hidden_field :language, value:dist.language %>

        <%= f.number_field :quantity, value: dist.quantity, :tabIndex => dist.product_id*1000 %>
      </div>
      <% end %>
    <% end %>
  <% end %>

</div>

<hr>

<% if findlog(@mystart, @performance.id, 2) then %>
<div class="ssdistcontainer">
  <div class="ssdistpaperwork">
    <%= image_tag findlog(@mystart, @performance.id, 2) %>
  </div>

  <div class="ssdistheader">
    <%= @performance.name %><br>
    <%= @weekof %>
  </div>

  <% @languages.each_with_index do |key, i| %>
    <div class="distbox shiftlabel prod<%= i+1 %>"><%= key[0].to_s %></div>
  <% end %>

  <% (0..13).each do |shift| %>
    <div class="distbox shift<%= shift %> prodlabel">
      <%= @weekofssdistributed["label_#{shift}"] %>
    </div>
    <% @weekofssdistributed["data_#{shift}"].each_with_index do |dist, i| %>
      <%= fields_for dist do |f| %>
      <div class="distbox shift<%= shift %> prod<%= i+1 %>" >
        <%= f.hidden_field :id, value:dist.id %>
        <%= f.hidden_field :curtain, value:dist.curtain %>
        <%= f.hidden_field :eve, value:dist.eve %>
        <%= f.hidden_field :performance_id, value:dist.performance_id %>
        <%= f.hidden_field :product_id, value:dist.product_id %>
        <%= f.hidden_field :language, value:dist.language %>

        <%= f.number_field :quantity, value: dist.quantity, :tabIndex => dist.language*1000 %>
      </div>
      <% end %>
    <% end %>
  <% end %>

</div>
<% end %>
